<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Manman Liang</h2>
  <p></p>
  <ul>
    <li>Interactive Design</li>
    <li>Coding</li>
    <li>Friends</li>
    <li>Korean Drama</li>
    <li>Sports</li>
    <li>Traveling</li>
    <li>Food</li>
  </ul>
</div>
