<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1 class="mainWord">
        <em>Manman Liang</em>
      </h1>
    {{/link-to}}
    <div class="rightLinks">
      {{#link-to 'about'}}
      <h1 class="mainWord">
        <em>About</em>
      </h1>
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
